@import "tailwindcss";

@theme {
  --color-background: #ffffff;
  --color-foreground: #111827;

  --color-border: #e5e7eb;
  --color-muted: #f3f4f6;
}

@layer base {
  body {
    @apply bg-background text-foreground;
  }
}